<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /subdirectory
    RewriteCond %{HTTP_HOST}  !^www\.santasgiftnft\.com$ [NC]
    RewriteRule ^(.*) http://www.santasgiftnft.com/$1 [L,R]
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>
